body {
  margin: 0 !important;
  padding: 0 !important;
}

.red {
  border: 1px solid red;
}

.green {
  border: 1px solid green;
}

.banner {
  height: 500px;
  background: url("./banner.jpg") center center no-repeat;
  overflow: hidden;
  padding: 20px;
}
.banner .about-sign-in {
  height: 80px;
  width: 100%;
  text-align: right;
}
.banner .about-sign-in .about,
.banner .about-sign-in .sign-in {
  margin-top: 5px;
  padding: 10px;
  margin-right: 40px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  border: 1px solid green;
  border-radius: 10px;
}
.banner .logo {
  background: url(./hapoERP.png) center center no-repeat;
  margin-top: 40px;
  height: 100px;
}
.banner .text {
  text-transform: uppercase;
  text-align: center;
}
.banner .text span {
  display: block;
  font-size: 25px;
}
.banner .btn-start-now {
  text-align: center;
}
.banner .btn-start-now button {
  text-transform: uppercase;
  padding: 10px;
  border: 1px solid green;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}
.banner .conten-center .left,
.banner .conten-center .right,
.banner .conten-center .center {
  width: 33%;
  display: inline-block;
  text-align: center;
}
.banner .conten-center img {
  width: 30px;
  height: 30px;
}
.banner .conten-center span {
  display: block;
  font-size: 25px;
  padding-top: 6px;
}
